<h1>Angular Internationalisation (i18n)</h1>

<div class="fb-container">

  <div class="key-value-container">
    <h1 i18n="Name Heading | Title for the showing the name of the user below">Name</h1>
    <h2>Vivek Kumar</h2>
  </div>

  <div class="key-value-container">
    <h1 i18n>Email</h1>
    <h2>vivek.kumar@gmail.com</h2>
  </div>

  <div class="key-value-container">
    <h1 i18n>City</h1>
    <h2>Pune</h2>
  </div>


  <div class="key-value-container">
    <h1 i18n>Projects Counts</h1>
    <h2 i18n>
      {
      projectCounts,
      plural,
      =0 {No project compledted so far.}
      =1 {One Project completed.}
      other {A total of {{projectCounts}} projects are completed by the user so far.}
      }
    </h2>
  </div>

  <div class="key-value-container">
    <h1 i18n>Profession</h1>
    <h2 i18n>
      {
      profession,
      select,
      dr {Doctor}
      prof {Professor}
      er {Engineer}
      }
    </h2>
  </div>
</div>

<router-outlet></router-outlet>
