<h1>Angular Internationalisation (i18n)</h1>

<div class="fb-container">

  <div class="key-value-container">
    <h1 i18n>Name</h1>
    <h2>Vivek Kumar</h2>
  </div>

  <div class="key-value-container">
    <h1 i18n>Email</h1>
    <h2>vivek.kumar@gmail.com</h2>
  </div>

  <div class="key-value-container">
    <h1 i18n>City</h1>
    <h2>Pune</h2>
  </div>


  <div class="key-value-container">
    <h1 i18n>Projects Counts</h1>
    <h2>18 Projects Done</h2>
  </div>
</div>

<router-outlet></router-outlet>
